<ng-container *ngIf="albums$ | async as albums">
  <div class="albums">
    <div
      *ngFor="
        let album of albums | paginate : { itemsPerPage: 10, currentPage: page }
      "
      class="albums_cards"
    >
      <p-card [header]="album.title">
        <ng-template pTemplate="footer">
          <div class="btn-actions flex mt-1">
            <p-button
              label="Ver fotos"
              severity="secondary"
              (click)="showPhotos(album.id)"
            />
            <p-button label="Ver posts" (click)="showPosts(album.id)" />
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
  <pagination-controls
    *ngIf="albums.length > 0"
    class="pagination"
    (pageChange)="page = $event"
    [responsive]="true"
    previousLabel=""
    nextLabel=""
  ></pagination-controls>
</ng-container>
